<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        {% block header %}
        <h1>{% block title %}Register{% endblock %}</h1>
        {% endblock %} {% block content %}
        <form method="post">
            <label for="emailAddress">Email Address</label>
            <input name="emailAddress" id="emailAddress" required />
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required />
            <input type="submit" value="Register" />
        </form>
        {% endblock %}
    </body>
</html>
