<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Rate My Landlord - Register</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <!-- Link your CSS properly -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}" />
    </head>

    <body class="text-white flex flex-col min-h-screen">
        <!-- Navbar -->
        <nav class="bg-white w-full fixed top-0 left-0 z-10">
            <div class="max-w-6xl mx-auto px-4 py-3 flex justify-between items-center">
                <a href="/" class="text-xl font-bold text-black">Rate My Landlord</a>
                <div class="flex space-x-4">
                </div>
            </div>
        </nav>
        <!-- Centered Login Section -->
        <div class="container">
            <div class="login-box">
                <h2 class="text-2xl">Register</h2>
                <form method="post">
                    <div class="input-box">
                        <input
                            class="rounded-full border-2 px-3 py-1"
                            name="emailAddress"
                            id="emailAddress"
                            required
                        />
                        <label>Email</label>
                    </div>
                    <div class="input-box">
                        <input
                            type="password"
                            name="password"
                            id="password"
                            class="rounded-full border-2 px-3 py-1"
                            required
                        />
                        <label>Password</label>
                    </div>
                    <input type="submit" class="btn" value="Register" />
                    <div class="register-link">
                        <a href="/auth/login">Login</a>
                    </div>
                </form>
            </div>

            <!-- Animated glowing lines -->
            {% for i in range(50) %}
            <span style="--i: {{ i }}"></span>
            {% endfor %}
        </div>
    </body>
</html>
