<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rate My Professor Clone</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body class="bg-gray-50 text-gray-900 flex flex-col min-h-screen">
    <!-- Navbar -->
    <nav class="bg-white shadow-sm">
      <div
        class="max-w-6xl mx-auto px-4 py-3 flex justify-between items-center"
      >
        <a
          href="{{ url_for('index') }}"
          class="text-xl font-bold text-blue-600"
        >
          Rate My Professor
        </a>
        <!-- login and register buttons -->
        <div class="flex space-x-4">
          <a href="#" class="hover:text-blue-600"> Login </a>
          <a href="#" class="text-white">
            <button
              class="rounded-full px-6 bg-black hover:text-white py-1 hover:bg-green-700"
            >
              Register
            </button></a
          >
        </div>
      </div>
    </nav>
  </body>
</html>
