<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <form method="post">
            <label for="query">Search {{ label }}</label>
            <input type="text" id="query" name="query" required />
        </form>
        <section>
            {% for i in range(data|length % 10) %}
                <tr>
                    <td><a href={{ url_for("landlord.landlord", landlord_id=data[i + offset].id) }}>{{ data[i + offset].get("name") }}</a> </td>
                    </br>
                </tr>
            {% endfor %}
            <br />
            {% if offset != undefined %}
                {% if offset >= 10 %}
                    <a href={{ url_for("search.search", offset=offset - 10) + "/?search="+request.args.get("search") }}>></a>
                {% endif %}
                {% if data|length - offset > 10 %}
                    <a href={{ url_for("search.search", offset=offset + 10) + "/?search="+request.args.get("search") }}>></a>
                {% endif %}
            {% endif %}
        </section>
    </body>
</html>
